USE [GIAONHANHANG]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[STT] [int] NOT NULL,
	[MaDT] [varchar](10) NOT NULL,
	[TP] [nvarchar](30) NULL,
	[Quan] [nvarchar](30) NULL,
	[DiaChiCuThe] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[TinhTrang] [nvarchar](30) NULL,
	[NgayLap] [datetime] NULL,
	[MaHopDong] [varchar](30) NULL,
 CONSTRAINT [PK__CHINHANH__886CEEF5322FFC7F] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONDATHANG]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONDATHANG](
	[MaDH] [varchar](10) NOT NULL,
	[MaTP] [varchar](10) NOT NULL,
	[MaDT] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DanhGia] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaTP] ASC,
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOITAC]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITAC](
	[MaDT] [varchar](10) NOT NULL,
	[Email] [varchar](30) NULL,
	[NgDaiDien] [nvarchar](30) NULL,
	[SLChiNhanh] [smallint] NULL,
	[TenQuan] [nvarchar](30) NULL,
	[LoaiTP] [nvarchar](30) NULL,
	[Username] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MaDH] [varchar](10) NOT NULL,
	[GioDat] [varchar](6) NULL,
	[NgayDat] [date] NULL,
	[GiaTriDH] [decimal](10, 1) NULL,
	[TinhTrang] [nvarchar](30) NULL,
	[MaKH] [varchar](10) NULL,
	[MaTX] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [varchar](10) NOT NULL,
	[NgDaiDien] [nvarchar](30) NULL,
	[SLChiNhanh] [smallint] NULL,
	[SoTaiKhoan] [varchar](20) NULL,
	[NganHang] [nvarchar](30) NULL,
	[CNNganHang] [nvarchar](30) NULL,
	[MaSoThue] [varchar](13) NULL,
	[NgayKy] [date] NULL,
	[ThoiHan] [nvarchar](10) NULL,
	[NgayHetHan] [date] NULL,
	[MaDT] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[TrangThai] [nvarchar](10) NULL,
 CONSTRAINT [PK__HOPDONG__2725A6E029CEB031] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [char](10) NULL,
	[Email] [varchar](30) NULL,
	[Username] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[Username] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANTRI]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANTRI](
	[MaQT] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[Username] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIXE]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIXE](
	[MaTX] [varchar](10) NOT NULL,
	[CMND] [varchar](12) NULL,
	[HoTen] [nvarchar](30) NULL,
	[SDT] [char](10) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[BienSoXe] [varchar](10) NULL,
	[KhuVucHoatDong] [nvarchar](30) NULL,
	[Email] [varchar](30) NULL,
	[SoTaiKhoan] [varchar](20) NULL,
	[NganHang] [nvarchar](30) NULL,
	[CNNganHang] [nvarchar](30) NULL,
	[Username] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCPHAM]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCPHAM](
	[MaTP] [varchar](10) NOT NULL,
	[MaDT] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](30) NULL,
	[MieuTa] [nvarchar](50) NULL,
	[Gia] [decimal](10, 1) NULL,
	[TinhTrang] [nvarchar](30) NULL,
	[TuyChon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTP] ASC,
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 11/12/2022 01:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Username] [varchar](20) NOT NULL,
	[Pass] [varchar](30) NULL,
	[RoleName] [varchar](9) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHINHANH]  WITH CHECK ADD  CONSTRAINT [FK__CHINHANH__MaDT__33D4B598] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[CHINHANH] CHECK CONSTRAINT [FK__CHINHANH__MaDT__33D4B598]
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONDATHANG] ([MaDH])
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD FOREIGN KEY([MaTP], [MaDT])
REFERENCES [dbo].[THUCPHAM] ([MaTP], [MaDT])
GO
ALTER TABLE [dbo].[DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_DOITAC_USERS] FOREIGN KEY([Username])
REFERENCES [dbo].[USERS] ([Username])
GO
ALTER TABLE [dbo].[DOITAC] CHECK CONSTRAINT [FK_DOITAC_USERS]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD FOREIGN KEY([MaTX])
REFERENCES [dbo].[TAIXE] ([MaTX])
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_USERS] FOREIGN KEY([Username])
REFERENCES [dbo].[USERS] ([Username])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_USERS]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_USERS] FOREIGN KEY([Username])
REFERENCES [dbo].[USERS] ([Username])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_USERS]
GO
ALTER TABLE [dbo].[QUANTRI]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[USERS] ([Username])
GO
ALTER TABLE [dbo].[TAIXE]  WITH CHECK ADD  CONSTRAINT [FK_TAIXE_USERS] FOREIGN KEY([Username])
REFERENCES [dbo].[USERS] ([Username])
GO
ALTER TABLE [dbo].[TAIXE] CHECK CONSTRAINT [FK_TAIXE_USERS]
GO
ALTER TABLE [dbo].[THUCPHAM]  WITH CHECK ADD FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
